* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: #222;
  color: aqua;
  font-weight: 800;
  font-size: large;
}
.header {
  background: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.header h1 {
  padding: 4px;
  margin: 4px;
}
.container {
  flex: 1;
}
.answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  min-height: 100px;
}
.letter-card {
  width: 50px;
  height: 60px;
  border-bottom: 2px solid#fe5001;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: default;
}

#selected-theme {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container_question_buttons {
  display: flex;
  gap: 3rem;
}

.container_question_button {
  padding: 0.5rem 1rem;
  background: #444;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.container_question_button:hover {
  background: antiquewhite;
  color: brown;
  font-weight: bold;
  transition: all 0.3s ease;
}

.container_question_button.active {
  background: #f3d611;
  color: #222;
  font-weight: bold;
  cursor: default;
}

.tastatur {
  background-color: #70cdd4;
  width: 100%;
}

.keyboard {
  display: grid;
  padding: 4rem;
  margin: 0 auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.key {
  background-color: #f3d611;
  border: 2px solid #fe5001;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
}

.key.pressed {
  background-color: #d4b500;
  transform: scale(0.95);
  transition: transform 0.1s, background-color 0.1s;
}

.key.unactive {
  background-color: #ffffff;
  opacity: 0.6;
  cursor: default;
}

.key.correct {
  background-color: #4caf50;
  color: white;
  cursor: default;
  border: 2px solid darkgreen;
}

.key.wrong {
  background-color: #f44336;
  color: white;
  opacity: 0.6;
  cursor: default;
}
@media screen and (max-width: 520px) {
  .keyboard {
    padding: 1rem;
  }
}
